<p>shows works!</p>

<input
  class="form-control"
  type="text"
  placeholder="Search"
  aria-label="Search"
  [(ngModel)]="search"
  (change)="newInputValue()"
  (ngModelChange)="searchShow($event)"
  />
  {{search}}

  <div [ngClass]="{'no-display': search.length < 3,
                  'display':  search.length >= 3}"
                *ngFor="let show of topShows | search: search:'name'">
                {{show.name}}
  </div>

  <div class="shows-list" >
 <div class="show-element"
      [ngClass]="{'no-display': search.length >= 3,
              'display':  search.length < 3}"
      *ngFor="let show of topShows"
      >
    <div> 
        <img src="https://image.tmdb.org/t/p/w185{{show.poster_path}}" />
        <h2>{{show.name}}</h2>
    </div> 
  </div>
</div>
