<div>
  <div class="search-div">
  <input
    class="form-control search"
    type="text"
    placeholder="Search"
    aria-label="Search"
    [(ngModel)]="search"
    (change)="newInputValue()"
    (ngModelChange)="searchShow($event)"
    />
    {{search}}
  </div>

  <div class="shows-list" >
    <div class="show-element"
        [ngClass]="{'no-display': search.length < 3,
        'display':  search.length >= 3}"
        *ngFor="let show of topShows | search: search:'name'">
        <a routerLink="/shows/{{show.id}}"> 
            <img src="https://image.tmdb.org/t/p/w342{{show.poster_path}}" />
            <h2 class="title">{{show.name}}</h2>
        </a>    
    </div>

    <div class="show-element"
          [ngClass]="{'no-display': search.length >= 3,
                    'display':  search.length < 3}"
          *ngFor="let show of topShows"
          >
        <a routerLink="/shows/{{show.id}}"> 
            <img src="https://image.tmdb.org/t/p/w342{{show.poster_path}}" />
            <h2 class="title">{{show.name}}</h2>
        </a> 
  </div>
</div>

<router-outlet></router-outlet>